<p>counter works!</p>
<!------- ngrx state ------->
<!-- <p>ngrx state</p> -->
<!-- <div id="counter">
  {{ count$ | async }}
</div>
<button id="increment" (click)="increment()">increment</button>
<button id="decrement" (click)="decrement()">decrement</button>
<button id="reset" (click)="reset()">reset</button> -->

<!------- ngrx signals ------->
<p>ngrx signals</p>
<div id="counter">
  count:
  {{ counterStore.count() }}
  double:
  {{ counterStore.doubleCount() }}
</div>
<button id="increment" (click)="counterStore.increment()">increment</button>
<button id="decrement" (click)="counterStore.decrement()">decrement</button>
<button id="reset" (click)="counterStore.reset()">reset</button>
