<p>edit-user works!</p>
{{ adminName }}
<a [href]="url">link building</a>
<button [disabled]="disabled">please subscribe</button>

<div [class]="className">hh</div>
<button (click)="buttonClicked()">click the button</button>
<input type="text" (keyup)="captureValue($event)" />

<!-- <div (mouseover)="onMouseover($event)" (mouseout)="onMouseout($event)">
  this multiple events
</div> -->

<div
  tabindex="0"
  (mouseover)="onMouseOver($event)"
  (mouseout)="onMouseOut($event)"
  (focus)="onFocus($event)"
  (blur)="onBlur($event)"
>
  This is multiple events binding
</div>
